.cabecalho{
    width: 80vw;
    margin: 5vh auto;
    margin-top: 5vh;
}
.cabecalho__menu a{
    text-decoration: none;
    color: var(--color-5);
}

.cabecalho__menu__lista{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cabecalho__menu__item:hover{
    text-shadow: 0 0 35px white;
}


@media screen and (max-width:320px) {
    .cabecalho{
        width: 90%;
        font-size: 1rem;
    }

}
