.cabecalho{
    background-color: #414141;
    width: 100vw;
    padding: 5vh auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.459);
    overflow: hidden;
    font-size: .9rem;
}
.cabecalho__menu a{
    text-decoration: none;
    color: var(--color-5);
}

.cabecalho__menu__lista{
    margin: 0 auto;
    width: 60vw;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.cabecalho__menu__item:hover{
    text-shadow: 0 0 35px rgb(123, 119, 119);
}

@media screen and (max-width:768px) {
    .cabecalho__menu__lista{
        width: 90vw;
        margin: 0 auto;
    }
}

@media screen and (max-width:320px) {
    .cabecalho{
        width: 100%;
        font-size: .8rem;
    }

    
.cabecalho__menu__lista{
    width: 98vw;
}


}
