.footer {
    background-color: #414141;
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-items: center;
    gap: 5vh;
    overflow: hidden;
}

.footer__lista {
    width: 60vw;
    display: flex;
    justify-content: space-around;
}

.footer__lista a:hover {
    text-shadow: 0 0 35px white;
}


@media screen and (max-width: 768px) {
    .footer {
        width: 100vw;
        font-size: 1rem;
    }

    .footer__lista {
        width: 90vw;
        justify-content: space-around;
    }

    .footer__creditos {
        font-size: .9rem;
    }
}

@media screen and (max-width: 320px) {
    .footer {
        width: 100vw;
        font-size: .8rem;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.459);
        padding-top: 3vh;
        padding-bottom: 3vh;
        gap: 3vh;
    }

    .footer__lista {
        width: 90vw;
        justify-content: space-around;
    }

    .footer__creditos {
        font-size: .7rem;
    }
}
