.home {
    display: flex;
    width: 100vw;
    padding-top: 20vh;
    padding-bottom: 20vh;
    overflow: hidden;
    justify-content: space-around;
    gap: 5vh;
}

.home__list {
    position: relative;
    margin-left: 2vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 35vh;
}


.home__list img:hover {
    cursor: pointer;
}

.home__list::before {
    position: absolute;
    content: "";
    top: -60vh;
    left: 1vw;
    width: 5px;
    height: 58vh;
    border-radius: 10px;
    background-color: var(--cor-5);
}

.home__list::after {
    position: absolute;
    content: "";
    top: 30vh;
    left: 1vw;
    width: 5px;
    height: 120px;
    border-radius: 10px;
    background-color: var(--cor-5);
}

.home__home {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home__home p {
    font-size: 2rem;
}

.home__nome {
    position: relative;
    margin-top: 6vh;
    font-size: 3rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 4vh;
    text-shadow: 0 0 80px;
}

.home__nome::before {
    position: absolute;
    content: "";
    top: 1rem;
    left: -50vw;
    width: 50vw;
    height: 5px;
    border-radius: 10px;
    background-color: var(--cor-5);
}

.home__front {
    font-size: 1.7rem;
    font-weight: bold;
    font-style: italic;
    margin-bottom: 4vh;
}

.home__span {
    font-size: 1rem;
    margin-bottom: 5vh;
    line-height: 1.6;
}

.home__btn {
    border-radius: 10px;
    box-shadow: 0 0 10px;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 15px;
    width: 240px;
    margin-top: 10vh;
}

.home__btn:hover {
    box-shadow: 0 0 15px;
}

.home__btn:active {
    box-shadow: inset 0 0 15px;
}

.home__side {
    margin-top: -50px;
    position: relative;
    width: 40vw;
    height: 75vh;
    border: 30px solid var(--cor-5);
    border-radius: 50%;
    margin-right: -25vw;
    box-shadow: 0 0 100px;
    opacity: .6;
}

.home__side:after {
    position: absolute;
    content: "";
    top: 20%;
    left: 20%;
    width: 20vw;
    height: 37vh;
    border-radius: 50%;
    background: var(--cor-1);
    border: 30px solid var(--cor-5);
    box-shadow: 0 0 100px;
}


@media screen and (max-width: 768px) {
    .home {
        gap: 0;
        justify-content: space-between;
    }

    .home__side {
        margin-top: -50px;
        position: relative;
        padding-right: 10vh;
        width: 20vw;
        height: 95vh;
        border: 25px solid var(--cor-5);
        border-radius: 50%;
        margin-right: -25vw;
        box-shadow: 0 0 100px;
    }

    .home__side:after {
        position: absolute;
        content: "";
        top: 15%;
        left: 20%;
        width: 5vw;
        height: 60vh;
        border-radius: 40%;
        background: var(--cor-1);
        border: 25px solid var(--cor-5);
        box-shadow: 0 0 100px;
    }

    .home__list {
        padding-left: 1vh;
    }
    
    .home__list::after,
    .home__list::before {
        left: 3vh;
    }
    
    .home__span {
        line-height: 1.2;
        margin-bottom: 2vh;
    }

    .home__btn {
        border-radius: 10px;
        box-shadow: 0 0 10px;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 15px;
        width: 240px;
        margin-top: 4vh;
    }

}



@media screen and (max-width: 500px) {
    .home__side {
        padding-right: 5vh;
    }
    .home__side:after {
       display: none;
    }
}

@media screen and (max-width: 350px) {
    .home{
        gap: 2vh;
    }
    .home__side {
        padding-right: 3vh;
        width: 10vw;
    }

    .home__list img{
        width: 25px;
        height: 25px;
    }
    .home__home{
        flex-grow: 2;
    }

    .home__side:after {
       display: none;
    }
    .home__btn{
        width: 150px;
        font-size: 1rem;
    }
}

