.projetos{
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 0 auto;
    padding-top: 10vh;
    
}

.projetos__titulo{
    font-size: 3.5rem;
    padding-bottom: 10vh;
}

.projetos__projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 90vw;
    margin: 0 auto;
    background-color:transparent;
    gap: 2vw;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
}

.projetos__card{
    border: 1px solid;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    cursor:pointer;
    box-shadow: 1px 1px 2px 1px rgba(255, 255, 255, 0.103);
    z-index: 10;
}

.projetos__card__titulo{
    font-size: 1.5rem;
    padding: 2vh;
}

.projetos__img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

::-webkit-scrollbar{
    background-color: var(--cor-2);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb{
    background-color: var(--cor-10);
    border-radius: 20px;
}

.pojetos__side{
    margin-top: 20px;
    align-self: end;
}

.projetos__resumo{
    display:none;
}
.projetos__card:hover{
    height: 350px;
}

.projetos__card a:hover{
    height: 350px;
}
.projetos__card a:hover > .projetos__img{
    height: 200px;
    transition: .7s;
}
.projetos__card a:hover > .projetos__resumo{
    display: block;
    transition: .7s;
}