.quemSou{
    display: flex;
    width: 100vw;
    height: 80vh;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.quemSou__quemSou{
    text-shadow: .5px .5px black;
    display: flex;
    width: 80vw;
    margin: 0 auto;
    flex-direction: column;
    gap: 4vh;
}

.quemSou__titulo{
    font-size: 3rem;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-shadow: .5px .5px black;
}

.quemSou__texto{
    font-size: 1.5rem;
}

.quemSou__side {
    align-self: flex-end;
    margin-right: 10vw;
}

@media screen and (max-width:768px) {
    .quemSou__titulo{
        font-size: 3rem;
    }

    .quemSou__texto{
        font-size: 1rem;
    }
    
}

@media screen and (max-width:320px) {
    .quemSou__titulo{
        font-size: 2rem;
    }
    .quemSou__texto{
        font-size: 1rem;
    }
}
